$darkColor: #145b6d;
$red: hsl(0, 76%, 56%);
$lightBlue: #4eb7b4;
$yellow: #efb023;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.merriweather-regular {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: normal;
}
