body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
  }
  
  .home-header {
    display: flex;
    flex-direction: row; /* Change this to row for horizontal layout */
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    color: #333;
    width: 100%;
    height: 100px; /* Adjust height as needed */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Add margin to separate from navBar */
  }
  
  .logo img {
    height: 100px;
    width: auto;
  }
  
  .navBar {
    display: flex;
    flex-direction: row; /* Change this to row for horizontal layout */
    align-items: center;
    width: 100%;
  }
  
  .navBarButtons {
    display: flex;
    flex-direction: row; /* Change this to row for horizontal layout */
    gap: 20px;
    width: 100%;
  }
  
  .navBarButtons button {
    color: #333;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    flex-grow: 1; /* Allow buttons to grow */
    max-width: 200px; /* Limit the maximum width of buttons */
  }
  
  .navBarButtons button:hover {
    background-color: #ddd;
    color: #333;
    border-color: #bbb;
  }
  
  .bodyContainer {
    margin-top: 100px; /* Align with the navigation bar height */
    padding: 20px;
    flex: 1;
  }