@import 'global';
body {
  margin: 0;
  display: flex;
  font-family: 'Merriweather', serif;
}

.home-header {
  display: flex;
  flex-direction: row; /* Change this to row for horizontal layout */
  align-items: center;
  padding: 10px;
  background-color: white;
  color: #333;
  width: 100%;
  height: 75px; /* Adjust height as needed */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;

  .logo {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Add margin to separate from navBar */

    img {
      height: 90px;
      width: auto;
      margin-left: 25px;
      margin-top: -20px;
    }
  }

  .navBar {
    display: flex;
    flex-direction: row; /* Change this to row for horizontal layout */
    align-items: center;
    width: 100%;

    .navBarButtons {
      display: flex;
      flex-direction: row; /* Change this to row for horizontal layout */
      justify-content: space-around;
      gap: 20px;
      width: 100%;

      button {
        color: #ffffff;
        background-color: $red;
        border: 1px solid #ccc;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        flex-grow: 1; /* Allow buttons to grow */
        margin-top: 15px;
        max-width: 200px; /* Limit the maximum width of buttons */
        height: 55px;

        &:hover {
          background-color: $yellow;
          color: #333;
          border-color: #bbb;
        }
      }
    }
  }
}

.bodyContainer {
  margin-top: 750px; /* Align with the navigation bar height */
  width: 1000px;
  height: 100px;
  padding: 20px;
  flex: 1;
}

.main-elements-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $darkColor;
  gap: 30px;
  height: 700px;
  width: 1000px;
  margin-top: -500px;
}

.quick-ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(3, auto); /* 3 rows */
  gap: 60px; /* Space between buttons */
  flex: 1; /* Grow to fill available space */
  padding: 100px; /* Padding inside the container */
  border: 2px solid black;
  margin-left: 30px;
  background-color: white;
  border-radius: 20px;

  .quick-ingredients-title {
    grid-column: span 2; /* Span both columns */
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-top: -50px;
  }

  .ingredient-button {
    padding: 20px;
    background-color: $lightBlue;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 170px;

    &:hover {
      background-color: $yellow;
      color: black;
      border-color: black;
    }
  }
}

.recent-recipes {
  flex: 1;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;

  .recent-recipes-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
  }

  .recipes-list {
    display: grid;
    grid-template-columns: 1; /* 1 column */
    grid-template-rows: repeat(3, auto);
    background-color: white;
    padding: 10px;
    overflow-y: auto;

    .recent-recipe {
      display: grid;
      grid-template-columns: 1; /* 1 column */
      grid-template-rows: repeat(3, auto);
      padding: 10px;
      height: 130px;
      border: 1px solid black;
      border-radius: 8px;

      .recent-recipe-title {
        display: block;
        font-weight: bold;
        font-size: 20px;
      }

      .recent-recipe-nutrition {
        display: block;
        font-weight: 300;
      }
    }
  }
}

.recipeSearch {
  margin-top: 100px;
  padding: 20px;
  margin-bottom: -250px;
  width: 600px;

  form {
    display: flex;
    align-items: center;
    width: 1000px;
    margin-top: 60px;

    input[type='text'] {
      width: 250px;
      height: 30px;
      padding-left: 15px;
      border-radius: 6px;
      border: none;
      color: #939393;
      font-weight: 500;
      background-color: #fffbf8;
    }

    button {
      padding: 10px 15px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      background-color: $red;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      margin-bottom: 10px;
      width: 50%;
      max-width: 300px;
      &:hover {
        background-color: $yellow;
      }
    }
  }
}

.recipeResults {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 20px;
  width: 80px;
  height: 30px;
  margin-left: 1100px;
}

.recipeCard {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;

  h2 {
    margin-bottom: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
}
