<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="account.css">
  </head>
  <body>
	<script src="index.js"></script>
  </body>
	<!-- //Sign up page -->
	<div className="accountBox">
		<h1>LunchBox</h1>
		<header className="header">
			<img src='./assets/logo.png'/>
		</header>
		<div className ='boxClass'> 
			<form> 
			<input type='text' placeholder="username" className='inputBox'/>
			<input type='text' placeholder="password" className='inputBox'/>
			<button type='submit'> Create Account </button>
			</form>
		</div>
	</div>
	</html>